<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="~/Content/images/icon/logo.png" alt="ACONSA" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="has-sub">
                    <a class="js-arrow" href="~/Content/index.html">
                        <i class="fas fa-tachometer-alt"></i>Mi panel
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Clientes")">
                        <i class="fas fa-chart-bar"></i>Clientes
                    </a>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-copy"></i>Pedidos
                    </a>
                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                        <li>
                            <a href="@Url.Action("Index","Pedidos")">Produción</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Bordados")">Bordados</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("Index","Pedidos")">
                        <i class="fas fa-table"></i>Pedidos
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Ventas")">
                        <i class="far fa-check-square"></i>Ventas
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Stats")">
                        <i class="fas fa-calendar-alt"></i>Estadísticas
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>