<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="@*~/Content/images/icon/logo.png*@" alt="ACONSA"/>
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="has-sub">
                    <a class="js-arrow" href="~/Content/index.html">
                        <i class="fas fa-tachometer-alt"></i>Mi panel
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Clientes")">
                        <i class="zmdi zmdi-accounts-alt"></i><strong>Clientes</strong>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-book"></i><strong>Pedidos</strong>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Produccion","Pedidos")">
                        <i class="zmdi zmdi-trending-flat"></i> Pedidos de Producción
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Bordados","Pedidos")">
                        <i class="zmdi zmdi-trending-flat"></i> Pedidos de Bordado
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-assignment"></i><strong>Ventas</strong>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("CRF","Ventas")">
                        <i class="zmdi zmdi-trending-flat"></i> Crédito Fiscal
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("COF","Ventas")">
                        <i class="zmdi zmdi-trending-flat"></i> Consumidor Final
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("NR","Ventas")">
                        <i class="zmdi zmdi-trending-flat"></i> Nota de Remisión
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("NDF","Ventas")">
                        <i class="zmdi zmdi-trending-flat"></i> Nota de Débito Fiscal
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("NCF","Ventas")">
                        <i class="zmdi zmdi-trending-flat"></i> Nota de Crédito Fiscal
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Stats")">
                        <i class="zmdi zmdi-chart"></i><strong> Estadísticas</strong>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>